@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotomedium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotobold.woff2");
    font-weight: 700;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: #849d8f;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-transform: none;
}

a {
    display: inline;

    text-decoration: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);

    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    max-width: 1200px;
    min-width: 900px;

    margin: 0 auto;
}

/*HEADER*/
.header {
    min-height: 74px;
}

.header-content {
    display: flex;
    position: relative;

    margin: 0 2.2%;
}

.header-content .logo {
    padding-top: 8px;
    padding-right: 2.18%;
}

.header-content .navigation {
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    width: 60.75%;

    margin-right: 0.87%;
}

.navigation .menu {
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    padding: 27px 0;
    margin-right: 27px;
}

.menu .catalog {
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.search {
    width: 33px;
    height: 33px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-top: 22px;
    box-sizing: border-box;
}

.contacts {
    position: absolute;
    left: 85.4%;
    top: 75px;
}

.contacts .time {
    display: block;

    padding-left: 15px;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.contacts .call {

    border: none;

    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

/*FOOTER*/
.footer {
    min-height: 108px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer .social-button {
    border: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;

    position: relative;

    margin: 0 2.2%;
}

.footer-content-inner {
    border-top: 2px solid rgba(255, 255, 255, 0.302);
}

.footer-social {
    margin-top: 36px;
}

.footer-social ul {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
}

.border-social {
    width: 32px;
    height: 32px;

    border: 3px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;

    margin-right: 11px;
}

.footer-information {
    display: flex;
    margin-top: 32px;
}

.footer-information::before {
    content: "";
    display: block;

    position: absolute;
    background-image: url("./img/svg/heart.svg");
    background-repeat: no-repeat;

    top: 35px;
    left: 400px;

    width: 15px;
    height: 13px;
}

.footer-information .column {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
}

.footer-information .column-right {
    margin-left: 30px;
}

.column .bold {
    font-weight: 700;
}

.column .top-row {
    margin-bottom: 7px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;

    margin-top: 18px;
}

.footer-copyright span {
    font-size: 12px;
    line-height: 16px;
}




.main {
    min-height: 2234px;
}
