@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotomedium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotobold.woff2");
    font-weight: 700;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;

    background-color: #849d8f;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-transform: none;
}

a {
    display: inline;

    text-decoration: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);

    color: #ffffff;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.hide-box {
    display: flex;
}

.hide-box-inner {
    display: none;
    position: absolute;
}

.container {
    max-width: 1200px;
    min-width: 900px;

    margin: 0 auto;
}

/*HEADER*/
.header {
    min-height: 74px;
}

.header-content {
    display: flex;
    position: relative;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    margin: 0 2.2%;
}

.header-content .logo {
    padding-top: 8px;
    margin-right: 10px;
}

.header-content .navigation {
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navigation .nav-link {
    padding: 8px 14px;
    background-color: transparent;
    border-radius: 16px;
    border: transparent;
    margin-top: 22px;
}

.navigation .nav-link:hover {
    background-color: rgb(247, 246, 243);
    transition: all .3s;
    color: #000000;
}

.navigation .nav-link:hover .text {
    border: none;
}


.navigation .nav-link:active {
    background-color: rgba(248, 247, 244, 0.988);
    box-shadow: inset 0px 2px 1px 0px rgba(105, 105, 105, 0.5);
    transition: all .3s;
}

.navigation .nav-link:active .text {
    border: none;
}

.nav-link .text {
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.search {
    box-sizing: border-box;

    width: 33px;
    height: 33px;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;

    margin-top: 22px;
    margin-left: 25px;
}

.entrance {
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.entrance-link {
    padding: 8px 17px 8px 45px;
    margin-top: 22px;
    margin-left: 10px;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.basket {
    box-sizing: border-box;

    display: flex;
    align-items: flex-start;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.basket-link {
    padding: 8px 34px 8px 45px;
    margin-top: 22px;
    margin-left: 10px;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
}

.contacts {
    position: absolute;
    right: 0;
    top: 73px;
    text-align: right;

    width: 200px;
}

.contacts .time {
    display: block;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    margin-bottom: 5px;
}

.contacts .call {

    border: none;

    font-size: 22px;
    line-height: 24px;
    font-weight: 700;
}

.menu:hover .hiding,
.search:hover .hiding,
.entrance:hover .hiding {
    position: absolute;
    display: block;
}

.menu a {
    color: inherit;
}

/*FOOTER*/
.footer {
    min-height: 108px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer .social-button {
    border: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;

    margin: 0 2.2%;
}

.footer-content-inner {
    border-top: 2px solid rgba(255, 255, 255, 0.302);
}

.footer-social {
    margin-top: 36px;
}

.footer-social ul {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
}

.border-social {
    width: 32px;
    height: 32px;

    border: 3px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;

    margin-right: 11px;
}

.footer-information {
    position: relative;
    display: flex;
    margin-top: 35px;
}

.footer-information::before {
    content: "";
    display: block;

    position: absolute;
    background-image: url("./img/svg/heart.svg");
    background-repeat: no-repeat;

    top: 3px;
    left: -25px;

    width: 15px;
    height: 13px;
}

.footer-information .column {
    display: flex;
    align-items: flex-start;
    box-sizing: border-box;
    flex-direction: column;
}

.footer-information .column-right {
    margin-left: 30px;
}

.column .bold {
    font-weight: 700;
}

.column .top-row {
    margin-bottom: 5px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;

    margin-top: 18px;
}

.footer-copyright span {
    font-size: 12px;
    line-height: 16px;
}




.main {
    min-height: 2234px;
}

