@font-face {
    font-family: "Roboto";
    src: url("./fonts/roboto.woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotomedium.woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/robotobold.woff2");
    font-weight: 700;
    font-style: normal;
}

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*, *:after, *:before {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;

    font-family: Roboto, Arial, sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 500;
    color: #ffffff;
    text-transform: none;
}

.background-3 {
    background-color: #9d8b84;
}

.background-2 {
    background-color: #8996a6;
}

.background-1 {
    background-color: #849d8f;
}

a {
    display: inline;

    text-decoration: none;
    border-bottom:1px solid rgba(255, 255, 255, 0.2);

    color: #ffffff;
}

.button {
    display: inline-block;
    padding: 11px 26px;

    border: none;
    border-radius: 22px;

    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;

    background-image: -moz-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -webkit-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    background-image: -ms-linear-gradient(90deg, rgb(231, 74, 53) 0%, rgb(242, 104, 67) 100%);
    box-shadow: 0px 1px 2px 0px rgba(172, 16, 0, 0.004);
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.container {
    max-width: 1200px;
    min-width: 900px;

    margin: 0 auto;
}

/*HEADER*/
.header {
    min-height: 74px;
}

.header-content {
    display: flex;
    position: relative;

    font-size: 16px;
    line-height: 18px;
    font-weight: 700;

    margin: 0 2.2%;
}

.header-content .logo {
    padding-top: 8px;
    margin-right: 10px;
}

.header-elements-wrapper {
    display: flex;
    align-items: flex-start;
    width: 100%;

    margin-top: 22px;
}

.header-content .navigation {
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-wrap: wrap;
}

.navigation .nav-link {
    display: inline-block;
    padding: 8px 14px;
    background-color: transparent;
    border-radius: 16px;
    border: transparent;
    transition: all .3s;
}

.navigation .nav-link:hover {
    background-color: #ededed;
    color: #000000;
}

.navigation .nav-link:hover .link-content {
    border: none;
}

.navigation .nav-link:active {
    box-shadow: inset 0 2px 1px #696969;;
}

.navigation .nav-link:active .link-content {
    border: none;
}

.hide-box .nav-link.active {
    color: #ffffff!important;
    background-color: #d07058!important;
}

.hide-box .nav-link.active .link-content {
    border: none;
}

.nav-link .link-content {
    border-bottom:1px solid rgba(255, 255, 255, 0.2);
}

.hide-box {
    position: relative;
}

.hide-box-wrapper{
    display: none;
    padding-top: 5px;

    position: absolute;
    top: 34px;
    left: -5px;

    z-index: 1;
}

.hide-box:hover .hide-box-wrapper {
    display: block;
}


.hide-box-inner {
    display: block;
    border-radius: 5px;
    background-color: rgb(248, 247, 244);
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.4);
}

.hide-box:hover .nav-link {
    background-color: rgb(247, 246, 243);
    transition: all .3s;
    color: #000000;
}

.hide-box:hover .link-content {
    border: none;
}

.hide-box-inner .hide-list {
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.hide-link {
    display: block;
    position: relative;
    color: #000000;
    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    padding: 10px 20px 3px 20px;
    white-space: nowrap;
    border: none;
    transition: all .3s;
}

.hide-link:hover {
    background-color: rgb(251, 222, 215);
}

.hide-link:active{
    background-color: rgb(246, 181, 165);
}

.hide-list li:first-child {
    margin-bottom: 8px;
}

.hide-list li:first-child::after {
    content: "";

    position: absolute;
    right: 8px;
    top: 48px;

    height: 1px;
    width: calc(100% - 15px);

    background-color: #e3e3e0;
}

.hide-list .active a {
    color: #ffffff;
    background-color: #d07058;
}

.search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 34px;
    height: 34px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    margin-left: 25px;
    transition: all .3s;
    cursor: pointer;
    transition: all .3s;
}

.search:hover {
    background-color: #ffffff;
}

.search:hover path {
    fill: black;
}

.entrance {
    display: flex;
    align-items: flex-start;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.entrance:hover .entrance-wrapper {
    background-color: #ffffff;
    color: #000000;
}

.entrance:hover path {
    fill: black;
}

.entrance-wrapper path {
    transition: all .3s;
}

.entrance-wrapper {
    position: relative;
    padding: 9px 17px 9px 45px;
    margin-left: 10px;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    cursor: pointer;
    transition: all .3s;
}

.entrance-form a {
    display: inline-block;
    font-size: 13px;
    line-height: 15px;
    font-weight: 400;

    color: #000000;

    border-bottom: 1px solid #dfdedc;
    white-space: nowrap;
    margin-left: 20px;
}

.link-wrapper a:first-child {
    margin-bottom: 5px;
}

.entrance-form {
    padding: 20px 17px;
}

.entrance-form .data-entry{
    display: block;
    width: 100%;

    padding: 12px 14px;
    margin-bottom: 20px;

    border: 1px solid #fbf7f5;
    border-radius: 5px;
}

.entrance-icon {
    position: absolute;
    top: 8px;
    left: 20px;
}

.form-button {
    display: flex;
    align-items: center;

}

.basket {
    display: flex;
    align-items: flex-start;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.shopping-basket polygon {
    fill: #E84D37;
}
.shopping-basket path {
    fill: #343434;
}
.shopping-basket circle {
    fill: #343434;
}

.shopping-basket .purchases {
    color: #000000;
}

.shopping-basket .basket-wrapper {
     background-color: rgb(248, 247, 244);
}

.basket-wrapper {
    position: relative;

    padding: 9px 34px 9px 45px;
    margin-left: 10px;

    border: none;

    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    cursor: pointer;
}

.basket-icon {
    position: absolute;
    top: 8px;
    left: 17px;
}

.contacts {
    position: absolute;
    right: 0;
    top: 73px;
    text-align: right;

    width: 200px;
}

.contacts .time {
    display: block;

    font-size: 14px;
    line-height: 16px;
    font-weight: 700;

    margin-bottom: 5px;
}

.contacts .call {

    border: none;

    font-size: 22px;
    line-height: 24px;
}

.menu a {
    color: inherit;
}

/*FOOTER*/
.footer {
    min-height: 108px;

    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
}

.footer .social-button {
    border: none;
}

.footer-content {
    display: flex;
    justify-content: space-between;

    margin: 0 2.2%;
}

.footer-content-inner {
    border-top: 2px solid rgba(255, 255, 255, 0.302);
}

.footer-social {
    margin-top: 36px;
}

.footer-social ul {
    display: flex;
    list-style: none;

    padding: 0;
    margin: 0;
}

.border-social {
    box-sizing: content-box;

    width: 32px;
    height: 32px;

    border: 3px solid rgba(255, 255, 255, 0.502);
    border-radius: 50%;

    margin-right: 11px;
}

.footer-information {
    position: relative;
    display: flex;
    margin-top: 35px;
}

.footer-information::before {
    content: "";
    display: block;

    position: absolute;
    background-image: url("./img/svg/heart.svg");
    background-repeat: no-repeat;

    top: 3px;
    left: -25px;

    width: 15px;
    height: 13px;
}

.footer-information .column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-information .column-right {
    margin-left: 30px;
}

.column .top-row {
    margin-bottom: 5px;
}

.footer-copyright {
    display: flex;
    flex-direction: column;

    margin-top: 18px;
}

.footer-copyright span {
    font-size: 12px;
    line-height: 16px;
}

.footer-link:hover {
    color: rgb(255, 188, 158);;
    border-bottom: 1px solid rgb(255, 188, 158);;
}

.footer-link:active {
    color: rgb(255, 188, 158);;
    border-bottom: 1px solid rgb(255, 188, 158);;
}

.bold {
    font-weight: 700;
}



.main {
    min-height: 2234px;
}

